body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-lemon: Lemon;
  
    /* font sizes */
    --font-size-5xl: 24px;
    --font-size-xl: 20px;
    --font-size-21xl: 40px;
  
    /* Colors */
    --color-midnightblue-100: #210241;
    --color-orange: #f39c12;
    --color-white: #fff;
  }
  